{#
/**
 * @file
 * Contains the text of the mydata explanation page
 */
#}

<div class='mydata-description'>
{% trans %}
    <p>The page contain information about registration users.</p>
    <p>list of users</p>
    <p>delete and update operationss</p>
{% endtrans %}
</div>
